<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/admin">ADMIN PANNEL</a>
  </li>
  {{!-- blog --}}
  <li>
  <div class="dropdown show">
  <a class="btn btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Blog
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/admin/view-data">Emails collected</a>
     <a class="dropdown-item" href="/admin/view-blogs">View all blogs</a>
    <a class="dropdown-item" href="/admin/view-enquiry">Enquiries</a>
    <a class="dropdown-item" href="/admin/subscribe">Subscribe</a>
  </div>
</div>
</li>
{{!-- blog end --}}
  {{!-- Store --}}
  <li>
  <div class="dropdown show">
  <a class="btn btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Store
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/admin/view-products">View all products</a>
    
  </div>
</div>
</li>
{{!-- Store end --}}

  {{!-- Forum --}}
  <li>
  <div class="dropdown show">
  <a class="btn btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Forum
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/admin/view-data">Emails collected</a>
     <a class="dropdown-item" href="/admin/view-blogs">View all blogs</a>
    <a class="dropdown-item" href="/admin/view-enquiry">Enquiries</a>
    <a class="dropdown-item" href="/admin/subscribe">Subscribe</a>
  </div>
</div>
</li>
{{!-- Forum end --}}
  {{!-- Config --}}
  <li>
  <div class="dropdown show">
  <a class="btn btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Config
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/admin/key">keys</a>
     <a class="dropdown-item" href="/admin/add-sensors">Add sensors</a>
    
  </div>
</div>
</li>
{{!-- Config end --}}
  
  
</ul>