<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/blog/">blog</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/forum">Forum</a>
    {{!-- Store --}}
  <li>
  <div class="dropdown show">
  <a class="btn btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Store
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/store">Store</a>
     <a class="dropdown-item" href="/store/cart">Cart</a>
  </div>
</div>
</li>
{{!-- Store end --}}
  <li class="nav-item">
    <a class="nav-link" href="/signup">Signup/login</a>
  </li>
    {{!-- Config --}}
  <li>
  <div class="dropdown show">
  <a class="btn btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Config
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/signup">Register Device</a>
    
  </div>
</div>
</li>
{{!-- Config end --}}
</ul>