<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mail ID</th>
    </tr>
  </thead>
  <tbody>
      {{#each email}}
    <tr>
      <th scope="row"></th>
      <td>{{this.email}}</td>
    </tr>
    {{/each}}
    
  </tbody>
</table>