<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mail ID</th>
        <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
      {{#each enquiry}}
    <tr>
      <th scope="row"></th>
      <td>{{this.email}}</td>
      <td>{{this.message}}</td>
    </tr>
    {{/each}}
    
  </tbody>
</table>