

<form action="/add-device" method="POST">

<div class="form-group">
    <label for="exampleFormControlTextarea1">Serial NO :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="serialNo"></textarea>
  </div>
 
  <div class="form-group">
    <label for="exampleFormControlTextarea1">OTP</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="otp"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Nick name</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="nickname"></textarea>
  </div>
   <button type="submit" class="btn btn-primary">ADD DEVICES</button>
</form>
