<center><h1>Control Pannel </h1></center>
<br>

<br>


<table class="table table-dark">
  <thead>
    <tr>
      
      <th scope="col">Client ID</th>
      <th scope="col">Ph number</th>
      <th scope="col">Valied upto</th>
      <th scope="col"></th>
     
    </tr>
  </thead>
  <tbody>

    <tr>
     <td></td>
       <td></td>
         <td></td>
           <td></td>
   
      <td><a href="" class="btn btn-danger" onclick="return confirm('Are you want to Disconnect the Device  ')">Disconnect</a></td>
    <td><a href="" class="btn btn-success" >View</a></td>
   
    </tr>

  </tbody>
</table>